<form id="loginPessoas" action="../src/food-menu.html">

  <br>
  <br>
  <br>
  <br>
  <br>


    <div class="row">
        <div class="col-4">
        </div>



        <div class="col-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="jose@teste.com">

            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
        <div class="col-2">
            <button type="button" onclick="location.href='index.html'" class="btn btn-danger">Cancelar</button>
        </div>
        <div class="col-4">

        </div>
    </div>
</form>